{%extends 'base.html'%}
{%block body%}
    <section class="wrapper">
      <div class="form signup">
        <header>Welcome To Fun Quiz :)</header>
        <form action="quizapp-r7gk.onrender.comregister" method="post">
          <input type="text" name="name" placeholder="Full name" required />
          <input type="text" name="email" placeholder="Email address" required />
          <input type="password" name="password" placeholder="Password" required />
<!--          <div class="checkbox">-->
<!--            <input type="checkbox" id="signupCheck" />-->
<!--            <label for="signupCheck">I accept all terms & conditions</label>-->
<!--          </div>-->
          <input type="submit" value="Signup" />
          {% if status == 0 or status ==2 or status ==3 %}
          <h1 style="color:red">{{msg}}</h1>
          {%elif status == 1 %}
          <h1 style="color:green">{{msg}}</h1>

          {%endif%}
        </form>
      </div>

      <div class="form login">
        <header>Login To Play</header>
        <form action="quizapp-r7gk.onrender.com/login" method="post">
          <input type="text" name="email" placeholder="Email address" required />
          <input type="password" name="pass_me" placeholder="Password" required />
<!--          <a href="#">Forgot password?</a>-->
          <input type="submit" value="Click to start" />
        </form>
      </div>
      </section>
{%endblock%}

